Knime/org.openml.knime/schema/dataset_get.xsd

<xs:schema targetNamespace="http://openml.org/data_set_description"
    xmlns:oml="http://openml.org/data_set_description" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="data_set_description" type="oml:data_set_description" />
    <xs:complexType name="data_set_description">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <!-- dublin core -->
            <xs:element name="name" type="xs:string" />
            <xs:element name="version" type="xs:string" /> <!-- default 1.0 if autogenerated -->
            <xs:element name="creator" type="xs:string" />
            <xs:element name="contributor" minOccurs="0"
                maxOccurs="unbounded" type="xs:string" />
            <xs:element name="upload_date" type="xs:string" />  <!-- format YYYY-mm-dd hh:MM:SS -->
            <xs:element name="collection_date" minOccurs="0"
                type="xs:string" />  <!-- free format, human readable -->
            <xs:element name="description" type="xs:string" />  <!-- user comments -->
            <xs:element name="language" minOccurs="0" type="xs:string" /> <!-- if there, starts with 1 upper case latter, rest lower case -->
            <xs:element name="format" type="xs:string" /> <!-- will be arff perf deafault for now, all lower case, no dot -->
            <xs:element name="licence" minOccurs="0" type="xs:string" /> <!-- if not there means: Public Domain or "dont know / care" :) -->
            <!-- other -->
            <xs:element name="url" type="xs:string" /> <!-- points to actual data, valid URL -->
            <xs:element name="row_id_attribute" minOccurs="0"
                type="xs:string" />  <!-- if not set, the tool should create a string rowid from 0 to (n.obs - 
                1) -->
            <!-- this is what is then used in the data splits object -->
            <!-- if set, of course exclude it in modeling ... -->
            <xs:element name="md5_checksum" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
