Knime/org.openml.knime/schema/error.xsd

<xs:schema targetNamespace="http://openml.org/error"
    xmlns:oml="http://openml.org/error" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    <xs:element name="error">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:int" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="additional_information"
                    minOccurs="0" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

