XML/Schemas/dataset_get.xsd

<!-- Schema for dataset description at download-time -->

<xs:schema targetNamespace="http://openml.org/openml"
    xmlns:oml="http://openml.org/openml"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
<xs:element name="data_set_description" type="oml:data_set_description"/>
<xs:complexType name="data_set_description">
	<xs:sequence>
		<xs:element name="id" type="xs:int"/>  <!-- ID autogenerated by the server. Integer. -->
		<!-- dublin core -->
		<xs:element name="name" type="xs:string"/> <!-- Name given to the dataset -->
		<xs:element name="version" type="xs:string"/> <!-- Version of this dataset. '1.0' for original version -->
		<xs:element name="description" type="xs:string"/>  <!-- Description of the dataset, given by the user who uploaded it. -->
		<xs:element name="format" type="xs:string"/> <!-- Format of the dataset. Will be arff for now, all lower case, no dot -->
		<xs:element name="creator" minOccurs="0" maxOccurs="unbounded" type="xs:string"/> <!-- The person who created the dataset -->
		<xs:element name="contributor" minOccurs="0" maxOccurs="unbounded" type="xs:string"/> <!-- People who contributed to the current version of the datadat (e.g. reformatting) -->
		<xs:element name="collection_date" minOccurs="0" type="xs:string"/>  <!-- The date the data was originally collected, given by the uploader -->
		<xs:element name="upload_date" type="xs:string"/>  <!-- The date-time, generated by server, on which the dataset was uploaded. Format YYYY-mm-dd hh:MM:SS -->
		<xs:element name="language" minOccurs="0" type="xs:string"/> <!-- Language in which the data is represented. Starts with 1 upper case letter, rest lower case, e.g. 'English' -->
		<xs:element name="licence" minOccurs="0" type="xs:string"/> <!-- Licence of the data. If not there, means: Public Domain or "dont know / care" -->
		<!-- other -->
		<xs:element name="url" type="xs:string"/> <!-- Valid URL, points to actual data file, on the OpenML server or another dataset repository -->
		<xs:element name="row_id_attribute" minOccurs="0" type="xs:string"/>  <!-- The attribute that represents the row-id column, if present in the dataset. If not set, the tool should create a string rowid from 0 to (n.obs - 1). This is what is then used in the data splits object. If set, it should of course be excluded in modeling -->  
 		<xs:element name="md5_checksum" type="xs:string"/> <!-- MD5 checksum to check if the dataset is downloaded without corruption. -->
	</xs:sequence>
</xs:complexType>
</xs:schema>
