XML/Schemas/error.xsd

<xs:schema targetNamespace="http://openml.org/error"
		xmlns:oml="http://openml.org/error"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified">
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="xs:int" />
				<xs:element name="message" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

