XML/Schemas/implementation.xsd

<!-- Schema for implementation description. Noe that it is used both for 
     uploading and downloading a dataset. Some fields, such as ID, 
     uploader, upload_date, are ignored during uploading, since these 
     are to be generated by the server. -->

<xs:schema targetNamespace="http://openml.org/openml" xmlns:oml="http://openml.org/openml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="implementation" type="oml:implementation"/>
<xs:complexType name="implementation">
	<xs:sequence>
		<xs:element name="id" minOccurs="0" type="oml:int"/>  <!-- ID of the implementation. Generated by the server, based on name and version of the implementation. Ignored when uploaded manually. -->
		<xs:element name="uploader" minOccurs="0" type="xs:int"/>  <!-- The user that uploaded the implementation. Added by the server. Ignored when uploaded manually. -->
		<!-- dublin core -->
		<xs:element name="name" type="oml:system_string"/> <!-- The name given to this implementation -->
		<xs:element name="version" type="xs:system_string"/> <!-- The version of the implementation. Default is 1.0 -->
		<xs:element name="description" type="xs:string"/> <!-- Description of the implementation, given by the user who uploaded it. -->
		<xs:element name="creator" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>  <!-- The persons/institutions that created the implementation. -->
		<xs:element name="contributor" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>  <!-- Other people that contributed to the implementation. -->
		<xs:element name="upload_date" minOccurs="0" maxOccurs="1" type="xs:string"/>  <!-- The date-time, generated by server, on which the implementation was uploaded. Format YYYY-mm-ddThh:MM:SS. Added by the server. Ignored when uploaded manually. -->
		<xs:element name="licence" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Licence of the implementation. If not there, means: Public Domain or "dont know / care" -->
		<!-- textual info (for search) -->
		<xs:element name="language" minOccurs="0" maxOccurs="1" type="xs:string"/>  <!-- Language in which the implementation is described. Starts with 1 upper case letter, rest lower case, e.g. 'English' -->
		<xs:element name="full_description" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Full description of the workflow, e.g. man pages filled in by tool. This is a much more elaborate description that given in the 'description' field. It may include information about all components of the workflow.-->
		<xs:element name="installation_notes" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Optional. How to run the workflow, are there additional hints? -->
		<!-- technical info -->
		<xs:element name="dependencies" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Optional. Dependencies of this implementations: environments, software packages or libraries necessary to run it. -->
		<!-- other -->
		<xs:element name="bibliographical_reference" minOccurs="0" maxOccurs="unbounded" type="oml:bibliographical_reference"/> <!-- Bibliographical reference (see below). --> 

		<xs:element name="implements" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Ontological reference -->
		<!-- structure -->
		<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded" type="oml:parameter"/> <!-- Statement of the (global/top-level) parameters of the workflow (see below). -->
		<xs:element name="components" minOccurs="0" maxOccurs="1" type="oml:components"/> <!-- Sub-components of this implementation -->
		<!-- download -->
		<xs:element name="source_url" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Url from which the source code can be downloaded. Added by the server. Ignored when uploaded manually. -->
		<xs:element name="binary_url" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Url from which the binary can be downloaded. Added by the server. Ignored when uploaded manually. -->
		<xs:element name="source_format" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Format in which the source code was uploaded. -->
		<xs:element name="binary_format" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Format in which the binary code was uploaded.  -->
		<xs:element name="source_md5" minOccurs="0" maxOccurs="1" type="oml:system_string"/> <!-- MD5 checksum to check if the source code was correctly downloaded -->
		<xs:element name="binary_md5" minOccurs="0" maxOccurs="1" type="oml:system_string"/> <!-- MD5 checksum to check if the binary code was correctly downloaded -->
	</xs:sequence>
</xs:complexType>
<xs:complexType name="components">
	<xs:sequence>
		<xs:element name="implementation" minOccurs="1" maxOccurs="unbounded" type="oml:implementation"/> <!-- Sub-implementation of this implementation. Typically components (operators/nodes) of a workflow or subfunctions of an algorithm (e.g. kernels). Components can have their own parameters. -->
	</xs:sequence>
</xs:complexType>
<xs:complexType name="parameter">
	<xs:sequence>
		<xs:element name="name" type="xs:string"/>  <!-- The name of the parameter -->
		<xs:element name="data_type" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Data type of the parameter. Should be either integer, numeric, string, vector, matrix, object. -->
		<xs:element name="default_value" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Default value of the parameter. -->
		<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- Description of what this parameter does. -->
	</xs:sequence>
</xs:complexType>
<xs:complexType name="bibliographical_reference">
	<xs:sequence>
		<xs:element name="citation" type="xs:string"/> <!--  Free form reference for this implementation. -->
		<xs:element name="url" type="xs:string"/>  <!-- URL to an online version of the paper, e.g. PDF -->
	</xs:sequence>
</xs:complexType>
<xs:simpleType name="system_string"> <!-- Subset on xs:string. Highly restricted form of string. URL-friendly -->
	<xs:restriction base="xs:string">
		 <xs:pattern value="([a-zA-Z0-9_\-\.])+"/>
	</xs:restriction>
</xs:simpleType>
</xs:schema>
